.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 1rem;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}
/* .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tooltip-inner {
    background-color: #333;
    color: #FFF;
    font-size: 12px;
    text-shadow: 1px 1px 0 rgba(42, 45, 50, .5);
    border-radius: 0;
    padding: 5px 9px;
}
.tooltip.top .tooltip-arrow {
    border-bottom-width: 0;
    border-top-color: #333;
    -moz-border-top-colors: #333;
}
.tooltip.right .tooltip-arrow {
    border-left-width: 0;
    border-right-color: #333;
    -moz-border-right-colors: #333;
}
.tooltip.left .tooltip-arrow {
    border-right-width: 0;
    border-left-color: #333;
    -moz-border-left-colors: #333;
}
.tooltip.bottom .tooltip-arrow {
    border-top-width: 0;
    border-bottom-color: #333;
    -moz-border-bottom-colors: #333;
}
.tooltip-error+.tooltip>.tooltip-inner, .tooltip.tooltip-error>.tooltip-inner {
    background-color: #c94d32;
    text-shadow: 1px 1px 0 rgba(100, 60, 20, .3);
}
.tooltip-error+.tooltip.top .tooltip-arrow, .tooltip.tooltip-error.top .tooltip-arrow {
    border-top-color: #c94d32;
    -moz-border-top-colors: #c94d32;
}
.tooltip-error+.tooltip.right .tooltip-arrow, .tooltip.tooltip-error.right .tooltip-arrow {
    border-right-color: #c94d32;
    -moz-border-right-colors: #c94d32;
}
.tooltip-error+.tooltip.left .tooltip-arrow, .tooltip.tooltip-error.left .tooltip-arrow {
    border-left-color: #c94d32;
    -moz-border-left-colors: #c94d32;
}
.tooltip-error+.tooltip.bottom .tooltip-arrow, .tooltip.tooltip-error.bottom .tooltip-arrow {
    border-bottom-color: #c94d32;
    -moz-border-bottom-colors: #c94d32;
}
.tooltip-success+.tooltip>.tooltip-inner, .tooltip.tooltip-success>.tooltip-inner {
    background-color: #629b58;
    text-shadow: 1px 1px 0 rgba(60, 100, 20, .3);
}
.tooltip-success+.tooltip.top .tooltip-arrow, .tooltip.tooltip-success.top .tooltip-arrow {
    border-top-color: #629b58;
    -moz-border-top-colors: #629b58;
}
.tooltip-success+.tooltip.right .tooltip-arrow, .tooltip.tooltip-success.right .tooltip-arrow {
    border-right-color: #629b58;
    -moz-border-right-colors: #629b58;
}
.tooltip-success+.tooltip.left .tooltip-arrow, .tooltip.tooltip-success.left .tooltip-arrow {
    border-left-color: #629b58;
    -moz-border-left-colors: #629b58;
}
.tooltip-success+.tooltip.bottom .tooltip-arrow, .tooltip.tooltip-success.bottom .tooltip-arrow {
    border-bottom-color: #629b58;
    -moz-border-bottom-colors: #629b58;
}
.tooltip-warning+.tooltip>.tooltip-inner, .tooltip.tooltip-warning>.tooltip-inner {
    background-color: #ed9421;
    text-shadow: 1px 1px 0 rgba(100, 90, 10, .3);
}
.tooltip-warning+.tooltip.top .tooltip-arrow, .tooltip.tooltip-warning.top .tooltip-arrow {
    border-top-color: #ed9421;
    -moz-border-top-colors: #ed9421;
}
.tooltip-warning+.tooltip.right .tooltip-arrow, .tooltip.tooltip-warning.right .tooltip-arrow {
    border-right-color: #ed9421;
    -moz-border-right-colors: #ed9421;
}
.tooltip-warning+.tooltip.left .tooltip-arrow, .tooltip.tooltip-warning.left .tooltip-arrow {
    border-left-color: #ed9421;
    -moz-border-left-colors: #ed9421;
}
.tooltip-warning+.tooltip.bottom .tooltip-arrow, .tooltip.tooltip-warning.bottom .tooltip-arrow {
    border-bottom-color: #ed9421;
    -moz-border-bottom-colors: #ed9421;
}
.tooltip-info+.tooltip>.tooltip-inner, .tooltip.tooltip-info>.tooltip-inner {
    background-color: #4b89aa;
    text-shadow: 1px 1px 0 rgba(40, 50, 100, .3);
}
.tooltip-info+.tooltip.top .tooltip-arrow, .tooltip.tooltip-info.top .tooltip-arrow {
    border-top-color: #4b89aa;
    -moz-border-top-colors: #4b89aa;
}
.tooltip-info+.tooltip.right .tooltip-arrow, .tooltip.tooltip-info.right .tooltip-arrow {
    border-right-color: #4b89aa;
    -moz-border-right-colors: #4b89aa;
}
.tooltip-info+.tooltip.left .tooltip-arrow, .tooltip.tooltip-info.left .tooltip-arrow {
    border-left-color: #4b89aa;
    -moz-border-left-colors: #4b89aa;
}
.tooltip-info+.tooltip.bottom .tooltip-arrow, .tooltip.tooltip-info.bottom .tooltip-arrow {
    border-bottom-color: #4b89aa;
    -moz-border-bottom-colors: #4b89aa;
}

.tooltip-coklat+.tooltip>.tooltip-inner, .tooltip.tooltip-coklat>.tooltip-inner {
    background-color: #9D4B16;
    text-shadow: 1px 1px 0 rgba(40, 50, 100, .3);
}
.tooltip-coklat+.tooltip.top .tooltip-arrow, .tooltip.tooltip-coklat.top .tooltip-arrow {
    border-top-color: #9D4B16;
    -moz-border-top-colors: #9D4B16;
}
.tooltip-coklat+.tooltip.right .tooltip-arrow, .tooltip.tooltip-coklat.right .tooltip-arrow {
    border-right-color: #9D4B16;
    -moz-border-right-colors: #9D4B16;
}
.tooltip-coklat+.tooltip.left .tooltip-arrow, .tooltip.tooltip-coklat.left .tooltip-arrow {
    border-left-color: #9D4B16;
    -moz-border-left-colors: #9D4B16;
}
.tooltip-coklat+.tooltip.bottom .tooltip-arrow, .tooltip.tooltip-coklat.bottom .tooltip-arrow {
    border-bottom-color: #9D4B16;
    -moz-border-bottom-colors: #9D4B16;
} */
